In [1]:
count=0
while count<3:
    print(count)
    count=count+1

0
1
2

In [3]:
count=1
while count<4:
    count=count+1
    print(count)

2
3
4

In [4]:
count=0
while count<=5:
    if count % 2 !=0:
        print(count)
    count=count+1

1
3
5

In [5]:
total=0
count=1
while count <=5:
    total=total+count
    count=count+1
print('총합은 : ',total)

총합은 :  15

In [6]:
for i in range(3):
    print('안녕 거북이',i)

안녕 거북이 0
안녕 거북이 1
안녕 거북이 2

In [7]:
for i in range(0,3):
    print('안녕 거북이',i)

안녕 거북이 0
안녕 거북이 1
안녕 거북이 2

In [8]:
k=0
while k<=3:
    print('안녕 거북이',k)
    k=k+1

안녕 거북이 0
안녕 거북이 1
안녕 거북이 2
안녕 거북이 3

In [9]:
i=0
while True:
    print('안녕 거북이',i)
    i=i+1
    if i==3:
        break

안녕 거북이 0
안녕 거북이 1
안녕 거북이 2

In [10]:
count=3
while count>0:
    print(count)
    count=count-1

3
2
1

In [11]:
clovers=['클로버1','클로버2','클로버3']
cnt=0
while cnt<3:
    print(clovers[cnt])
    cnt=cnt+1

클로버1
클로버2
클로버3

In [12]:
clovers=['클로버1','클로버2','클로버3']
cnt=1
while cnt<3:
    print(clovers[cnt])
    cnt=cnt+1

클로버2
클로버3

In [13]:
clovers=['클로버1','클로버2','클로버3']
for cnt in range(0,2):
    print(clovers[cnt])

클로버1
클로버2

In [14]:
clovers=['클로버1','클로버2','클로버3']
for cnt in range(1,3):
    print(clovers[cnt])

클로버2
클로버3

In [15]:
num=1
while True:
    if num>3:
        break
    print(num)
    num=num+1

1
2
3

In [1]:
price=0
while price !=-1:
    price=int(input('가격을 입력하세요 (종료:-1): '))
    if price>10000:
        print('너무 비싸요')
    elif price>5000:
        print('괜찮은 가격이네요')
    else:
        print('정말 싸요.')

가격을 입력하세요 (종료:-1): 3000
정말 싸요.
가격을 입력하세요 (종료:-1): 15000
너무 비싸요
가격을 입력하세요 (종료:-1): -1
정말 싸요.

In [3]:
while True:
    number=int(input('2 이상의 정수를 입력하세요 (종료:-1):'))
    if number ==-1:
        break
    count=2
    is_prime=True
    while count<number:#count가 number보다 작은 동안 반복
        if number%count==0:
            is_prime=False
            break #소수가 아니므로 종료
        count=count+1 #안 걸리게 되면 count가 늘어남
    if is_prime:
        print(number,'은(는) 소수입니다.')
    else:
        print(number,'은(는) 소수가 아닙니다.')
    print(count)

2 이상의 정수를 입력하세요 (종료:-1):1
1 은(는) 소수입니다.
2
2 이상의 정수를 입력하세요 (종료:-1):1
1 은(는) 소수입니다.
2
2 이상의 정수를 입력하세요 (종료:-1):3
3 은(는) 소수입니다.
3
2 이상의 정수를 입력하세요 (종료:-1):3
3 은(는) 소수입니다.
3
2 이상의 정수를 입력하세요 (종료:-1):4
4 은(는) 소수가 아닙니다.
2
2 이상의 정수를 입력하세요 (종료:-1):5
5 은(는) 소수입니다.
5
2 이상의 정수를 입력하세요 (종료:-1):6
6 은(는) 소수가 아닙니다.
2
2 이상의 정수를 입력하세요 (종료:-1):7
7 은(는) 소수입니다.
7
2 이상의 정수를 입력하세요 (종료:-1):11
11 은(는) 소수입니다.
11
2 이상의 정수를 입력하세요 (종료:-1):12
12 은(는) 소수가 아닙니다.
2
2 이상의 정수를 입력하세요 (종료:-1):14
14 은(는) 소수가 아닙니다.
2
2 이상의 정수를 입력하세요 (종료:-1):15
15 은(는) 소수가 아닙니다.
3
2 이상의 정수를 입력하세요 (종료:-1):16
16 은(는) 소수가 아닙니다.
2
2 이상의 정수를 입력하세요 (종료:-1):17
17 은(는) 소수입니다.
17
2 이상의 정수를 입력하세요 (종료:-1):-1

In [4]:
while True:
    answer=input('런던,파리,서울 중 영국의 수도는 어디일까요?')
    if answer=='런던':
        print('정답입니다. 런던은 영국의 수도입니다')
        break
    elif answer=='파리':
        print('정답입니다. 파리는 프랑스의 수도입니다')
    elif answer=='서울':
        print('정답입니다. 서울은 대한민국의 수도입니다')
    else:
        print('보기에서 골라주세요')

런던,파리,서울 중 영국의 수도는 어디일까요?런던
정답입니다. 런던은 영국의 수도입니다

In [1]:
#리스트는 값을 변경할 수 있지만 튜플은 변경 불가능
my_tuple1=()
print(my_tuple1)
my_tuple2=(1,-2,3.14)
print(my_tuple2)
my_tuple3='앨리스',10,1.0,1.2 #자동으로 튜플 저장
print(my_tuple3)

()
(1, -2, 3.14)
('앨리스', 10, 1.0, 1.2)

In [2]:
my_int=(1)
print(type(my_int)) #정수
my_tuple=(1,)
print(type(my_tuple)) #튜플

<class 'int'>
<class 'tuple'>

In [5]:
clovers=('클로버1','클로버2','클로버3')
print(clovers[1])

클로버2

In [6]:
clovers[1]='하트'

TypeError: 'tuple' object does not support item assignment

In [8]:
clovers='클로버1','클로버2','클로버3' #패킹->항상 튜플
print(clovers)
alice_blue=(240,248,255) #언패킹->튜플,리스트도 가능
r,g,b=alice_blue
print('R:',r,'G:',g,'B:',b)

('클로버1', '클로버2', '클로버3')
R: 240 G: 248 B: 255

In [10]:
dodo='박하맛'
alice='딸기맛'
print('도도새:',dodo,'앨리스:',alice)
dodo,alice=alice,dodo
print('도도새:',dodo,'앨리스:',alice)

도도새: 박하맛 앨리스: 딸기맛
도도새: 딸기맛 앨리스: 박하맛

In [1]:
my_dict={}
print(my_dict)
my_dict1={0:1,1:-2,2:3.14}
print(my_dict1)
my_dict2={'이름':'앨리스','나이':10,'시력':[1.0,1.2]}
print(my_dict2)

{}
{0: 1, 1: -2, 2: 3.14}
{'이름': '앨리스', '나이': 10, '시력': [1.0, 1.2]}

In [7]:
clover={'나이':27,'직업':'병사'}
print(clover)
clover['번호']=9
print(clover)

{'나이': 27, '직업': '병사'}
{'나이': 27, '직업': '병사', '번호': 9}

In [8]:
clover={'나이': 27, '직업': '병사', '번호': 9}
print(clover['번호'])
clover['번호']=6
print(clover['번호'])
print(clover.get('번호')) #값 가져오기

9
6
6

In [11]:
my_dict2['시력'][1]

1.2

In [12]:
del clover['나이']
print(clover)

{'직업': '병사', '번호': 6}

In [13]:
order={'스페이드1':'비빔라면','다이아2':'매운라면'}
print(order)
order['클로버3']='카레라면'
print(order)
order['다이아2']='짜장라면'
print(order)
del order['스페이드1']
print(order)

{'스페이드1': '비빔라면', '다이아2': '매운라면'}
{'스페이드1': '비빔라면', '다이아2': '매운라면', '클로버3': '카레라면'}
{'스페이드1': '비빔라면', '다이아2': '짜장라면', '클로버3': '카레라면'}
{'다이아2': '짜장라면', '클로버3': '카레라면'}

In [14]:
nums=(1,2,3)
print(nums)

(1, 2, 3)

In [15]:
my_tuple=(3.14,2.71)
print(my_tuple)
print(my_tuple[1])

(3.14, 2.71)
2.71

In [16]:
my_var=1,
print(type(my_var))
my_var=(1,)
print(type(my_var))
my_var=(1)
print(type(my_var))
my_var=1,2
print(type(my_var))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [17]:
nums=1,2,3
for idx in range(3):
    print(nums[idx])

1
2
3

In [18]:
diamonds=1,5,6,7
ace,king,queen,jack=diamonds #언패킹
print(queen)

6

In [19]:
alice={}
alice['성별']='여'
alice['나이']=13
alice['혈액형']='AB'
print(alice)

{'성별': '여', '나이': 13, '혈액형': 'AB'}

In [20]:
alice={'성별': '여', '나이': 13, '혈액형': 'AB'}
print(alice['혈액형'])

AB

In [21]:
alice['나이']=14
print(alice['나이'])

14

In [22]:
alice['전화번호']='010-1234-5678'
print(alice['전화번호'])

010-1234-5678

In [23]:
del alice['전화번호']
print(alice)

{'성별': '여', '나이': 14, '혈액형': 'AB'}

In [28]:
for i in ['하트','클로버','스페이드']:
    for j in range(1,4):
        print(i,j,'유죄!')

하트 1 유죄!
하트 2 유죄!
하트 3 유죄!
클로버 1 유죄!
클로버 2 유죄!
클로버 3 유죄!
스페이드 1 유죄!
스페이드 2 유죄!
스페이드 3 유죄!

In [29]:
def my_func():
    print('토끼야 안녕!')
my_func()

토끼야 안녕!

In [31]:
def add(num1,num2):
    return num1+num2
print(add(2,3))
print(add(7,3))

5
10

In [32]:
def add_mul(num1,num2):
    return num1+num2,num1*num2
print(add_mul(2,3))

(5, 6)

In [33]:
def judge_cards(name):
    print(name,'1 유죄!')
    print(name,'2 유죄!')
    print(name,'3 유죄!')
    
judge_cards('하트')
judge_cards('클로버')
judge_cards('스페이드')

하트 1 유죄!
하트 2 유죄!
하트 3 유죄!
클로버 1 유죄!
클로버 2 유죄!
클로버 3 유죄!
스페이드 1 유죄!
스페이드 2 유죄!
스페이드 3 유죄!